/* css reset */
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote{
  margin: 0;
  padding: 0;
}
ul li{
  list-style: none;
}
a{
  cursor: pointer;
}
a:link{
  color: #3377aa;
}
a:visited{
  color: #666699;
  text-decoration: none;
}
/* css继承能力 */
html{
  color: #111;
  background: #fff;
}
body, td, th{
font: 12px Helvetica,Arial,sans-serif;
line-height: 1.62;
}
body{
  padding: 30px;
}
/* 导航栏样式 */
#anony-nav{
  width: 1080px;/*网页的布局宽度*/
  margin: 0 auto 25px;
  background-color: green;
}
#anony-nav .anony-nav-links{
  float: right;
  margin-top: 6px;
}
#anony-nav h1 a{
  display: block;
  height: 34px;
  line-height: 40px;
}
#anony-nav .anony-srh{
  position: relative;
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
  width: 270px;
  height: 30px;
  border: 1px solid #c3c3c3;
}
form{
  display: block;
}
form{
  margin: 0;
  padding: 0;
  border: 0;
}
#anony-nav .anony-srh .inp{
  display: block;
  height: 30px;
  overflow: hidden;
}
#anony-nav .anony-srh .inp input{
  widows: 240px;
  border: none;
  font-size: 13px;
  height: 20px;
  padding: 5px;
}
#anony-nav .anony-srh .bn{
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  background: url(/f/sns/f71f159…/pics/icon/bn_srh_1.png) 50% 50% no-repeat;
}
#anony-nav .anony-srh .bn input{
  border: none;
  background: transparent;
  overflow: hidden;
  width: 30px;
  height: 30px;
  font-size: 0;
  color: transparent;
  cursor: pointer;
}